$theme-blue: adjust-hue($color: #18A0FB, $degrees: 0) !important;
$theme-Light: adjust-hue($color: #ffffff, $degrees: 0) !important;
$theme-text-light: adjust-hue($color: #ffffff, $degrees: 0) !important;
$theme-text-dark: adjust-hue($color: #000000, $degrees: 0) !important;

.CreateAccount {
  
  margin-top: 10em;
  position: relative;
  
  left: 50% !important;
  transform: translate(-50%,0%);
}

.createAccountImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: auto;
}

.registerText {
  padding-top: 1em;
  font-size: 2em;
  font-family: Montserrat-SemiBold;
  position: relative;
  text-align: center;
}

.formSection {
  margin-top: 2em;
}

div.react-tel-input {
  float: left;
  width: fit-content;
  margin-bottom: 1em;
  margin-right: 1em;
}

.locationInput {
 padding-left: 0 !important;
 padding-right: 0 !important;
 margin-top: 0em;
}

.SignUp-btn {
  margin: auto;
  width: 15em !important;
  background-color: $theme-blue;
  width: 8em;
  font-family: Montserrat-SemiBold;
  color: $theme-Light;
  border-top: solid rgb(211, 207, 207) 0.5px !important;
  border-bottom: solid rgb(211, 206, 206) 0.5px !important;
}

.passwordInputField {
  margin-left: 0px !important;
  float: left;
  width: 45%;
}