$Lignt-Blue: rgb(160, 241, 246);

.ManageCategories {
  margin-top: 1.5em;
  padding-left: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
}

.categoryList {
  background-color: #ffffff;
  padding-left: 0em;
  padding-right: 0em;
  overflow: hidden;
}

.category {
  border-top: solid rgb(216, 216, 216) 0.1em;
  background-color: rgb(253, 253, 253);
  color: rgb(92, 92, 92);
  font-family: Montserrat-SemiBold;
  font-size: 0.8em;
  padding-left: 0em;
  padding-top: 0.8em;
  padding-bottom: 0em;
  display: block;
  cursor: pointer;
}

.category:hover {
  background-color: rgb(245, 245, 245);
}

.categoryItem {
  display: inline-flex;
  margin-right: 1em;
}

.dropDownIcon {
  margin-left: 0.5em;
  font-size: 1.3em;
  color: rgb(92, 92, 92);
  transition: 0.5s 0s;
}

.dropDownIcon.selected {
  transform: rotate(180deg);
  color: rgba(92, 92, 92, 0);
}

div.subCategorySec {
  margin-top: 0.6em;
  background-color: rgb(245, 245, 245);
  height: 0;
  transition:0.5s ;
  overflow: hidden;
}

div.subCategorySec.show {
  height: min-content;
}


.subCategory {
  font-family: Montserrat-Regular;
  font-size: 0.9em;
  padding-left: 4.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.subCategory:hover {
  background-color: rgb(250, 250, 250);
}

.subCategory.InputForm {
  margin-top: 1em;
  height: fit-content;
}

.addCategoryFormItem {
  display: inline !important;
  width: auto !important;
  margin-right: 0.5em;
}

.toggleFindButton.addCategoryFormItem {
  font-size: 0.9em !important;
}

.addSubCategoryFormItem {
  display: inline !important;
  width: 15em !important;
  margin-right: 0.5em;
}

.AddCategorySec {
  margin-top: 1em;
}

.closeBtn {
  float: right;
  cursor: pointer;
  font-size: 1.2em;
}

