$Lignt-Blue: rgb(160, 241, 246);
$SidePanel-FontColor: adjust-hue($color: #bebebe, $degrees: 0);
$SidePanel-Active-FontColor: adjust-hue($color: #cfcfcf, $degrees: 0);

div.sidePanel {
  //margin-top: 3em;
  border-top: 1px solid #757575;
  border-radius: 0em;
  position: sticky;
  float: left;
  top: 0;
  background-color: var(--primaryColour);
  height: auto;
  margin-left: 0vw;
  margin-right: 0vw;
  width: 400px;
  transition: 0.5s;
  padding-bottom: 0 !important;
}

.AccountInfo {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $SidePanel-FontColor;
  font-family: Montserrat-Regular;
  padding-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  width: 100%;
  //box-shadow: 0px 0px 4px rgb(153, 153, 153);
}

.AccountPic {
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 50%;
  height: 7em;
}

.AccountName {
  font-family: Montserrat-SemiBold;
}

.AccountRole {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: max-content;
  font-size: 0.8em;
  border: solid $SidePanel-FontColor 1px;
  border-radius: 0.5em;
}
.AccountInfoHr {
  //border: solid $SidePanel-FontColor 0.1em;
  background-color: $SidePanel-Active-FontColor;
  width: 16vw;
  margin-bottom: 2em;
}

.Collapse-btn {
  cursor: pointer;
  right: 0;
  position: absolute;
  font-size: 1.4em !important;
  background-color: transparent;
  padding: 6px 8px !important;
  border: none;
  border: solid adjust-hue($color: #757575, $degrees: 0) 0 !important;
  display: none !important;
  margin-bottom: 2em;
  transition: 0.5s;
  top: 90vh;
  transform: rotate(180deg);
}

.Collapse-btn.hide {
  transform: rotate(0deg);
}

.Collapse-btn:focus {
  border: solid 0px rgba($color: #979797, $alpha: 0.5) !important;
  outline: 0;
}

.SideList {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 18vw;
  background-color: rgba(65, 65, 65, 0.479);
}

.sideTile {
  color: rgb(195, 195, 195);
  overflow: hidden;
  display: block;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid  #363636 0.1em;
  font-family: Montserrat-SemiBold;
  transition: 0.3s;
}

.sideTile:hover {
  background-color: rgb(100, 100, 100);
  color: $SidePanel-FontColor;
  text-decoration: none;
  margin-left: 0em;
  margin-right: 0em;
  z-index: 2;
}

.sideTile.active {
  border-left: solid 1em rgb(65, 65, 65);
  overflow: hidden;
  border-bottom-right-radius: 0em !important;
  background-color:rgb(1, 109, 182);
  color: $SidePanel-Active-FontColor;
}

.sideTileIcon {
  font-size: 1.2em;
  margin-right: 1em;
}

@media screen and (max-width: 991px) {
  .SideList {
    width: 100%;
  }
  div.sidePanel {
    width: 100%;
  }
  div.sidePanel.sidePanelhide {
    position: sticky;
    top: 0;
    z-index: 3;
    border-left: solid 0 rgb(65, 65, 65);
    height: 3em;
    overflow: hidden;
    top: 5vh;
  }
  div.sidePanel.sidePanelshow {
    z-index: 3;
    top: 0;
  }
  .Collapse-btn {
    display: block !important;
    color: $SidePanel-Active-FontColor ;
    top: 0;
  }
}

