/////////////////// user modes ///////////////////
.usermode-head-subtitle {
  padding-top: 0 !important;
  font-size: 0.6em !important;
}
/////////////////////////////////////////////////

.nav-side-menu {
  font-size: 1.2 em;
  background-color: #1a3657;
  width: auto;
  height: auto;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li  {
  background-color: #1d4068;
  border: none;
  line-height: 35px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  padding-left: 50px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #152b44;
}

.nav-side-menu li {
  padding-left: 10px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
  text-decoration: none !important;
}

.sidenavbar-tabs{
  color: #e1ffff;
  padding-left: 15px;
}

.sidenavbar-tabs span{
  padding-left: 15px;
}

.nav-side-menu li span {
  padding-left: 15px;
}

.nav-side-menu li:hover {
  border-left: 4px solid #63b9ff;
  background-color: #3667a0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  text-decoration: none !important;
}


.sidebar-title {
  text-decoration: none;
}

.sidebar-title:hover {
  text-decoration: none !important;
}
