.myprofile-container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 25px;
}

.myprofile-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.myprofile-categories {
  height: 550px;
  background-color: rgb(26, 54, 87);
  margin: 3px;
}

.myprofile-info {
  height: 550px;
  background-color: rgb(26, 54, 87);
  margin: 3px;
}

.profile-head-topic {
  color: white;
  margin: 10px;
  margin-left: 35px;
}

.profile-sub-topic {
  color: white;
  margin-left: 75px;
  margin-bottom: 5px;
}

.pro-sub-link {
  text-decoration: none !important;
}

.profile-sub-topic:hover {
  background-color: white;
  color: rgb(26, 54, 87);
  font-weight: 700;
  padding-left: 2px;
}

.pro-sub-link.active {
  font-size: 1em;
  font-weight: 700;
  width: 50px;
  height: 15px;
  background-color: rgb(158, 162, 172);
  position: static;
  text-decoration: none;

  .profile-sub-topic {
    background-color: rgb(165, 167, 172);
  }
}

.mypro-heading {
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  color: rgb(26, 54, 87);
}
