.sidenav {
    height: auto; 
    width: 160px; 
    position: fixed; 
    background-color: #1A3657; 
    overflow-x: hidden; 
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 4px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.1em;
    color: #cacaca;
    display: block;
    
    text-decoration: none !important;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: var(--primary);
    font-weight: 600 !important;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  // @media screen and (max-height: 450px) {
  //   .sidenav {padding-top: 15px;}
  //   .sidenav a {font-size: 18px;}
  // }