.description-tip{
    font-size: 10pt !important;
    color: rgb(136, 136, 136) !important;
}

.masterStackDiv {
    width: auto;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }
  .stackInput input[type="text"] {
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Segoe UI";
    font-size: 0.8em;
    float: right;
    margin-left: 5px;
    width: auto;
    border-bottom: 2px solid white;
  }
  
  .stackTag {
    background-color: #707070;
    color: white;
    height: 20px;
    width: auto;
    border-radius: 10px;
    font-size: 0.7em;
    padding: 5px;
    margin: 3px;
    display: flex;
    align-items: center;
  }
  
  .stackTags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: auto;
  }
  .tagCloseBtn {
    border: none;
    background-color: transparent;
    border-radius: 5px;
  }
  .tagCloseBtn:hover {
    background-color: white;
    cursor: pointer;
  }