.jobseeker-card {
  margin: 0px 0px 0px 10px;
  padding: 10px !important;
  // padding: 10px 0px;
  box-sizing: border-box !important;


}

.seeker-details{

}

.seeker-details span {
  font-weight: 700 !important;
  font-size: 15pt !important;
}

.seeker-details img {
  text-align: center;
  vertical-align: baseline;
  width: 80px;
}

.job-seeker-card-image-sec {
  display: flex;
  align-items: center;
  padding-right:0 !important;
  padding-left:0 !important;



  .job-seeker-card-img-container {
    width: 100px;
    height: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
    
  }
}

.seeker-detail-pannel{
  padding: 5px !important;
}

.job-seeker-description{
  text-align: center !important;
}