$theme-blue: adjust-hue($color: #18A0FB, $degrees: 0) !important;
$theme-light-blue: adjust-hue($color: #18a0fb67, $degrees: 0) !important;
$theme-Light: adjust-hue($color: #ffffff, $degrees: 0) !important;
$theme-text-light: adjust-hue($color: #ffffff, $degrees: 0) !important;
$theme-text-dark: adjust-hue($color: #000000, $degrees: 0) !important;

.LoginPage {
  display: flex;
  align-items: center;
  width: 1000px;
  height: max-content;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: var(--primaryColour);
  border-radius: 10px;
  overflow: hidden;
}

.greetingSection {
  width: 500px;
  border-right: 1px solid #fff;
}

.welcome {
  text-align: center;
  font-size: 4em;
  color: rgb(235, 235, 235);
}

.welcomeText {
  color: rgb(235, 235, 235);
  font-size: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.LoginForm {
  width: 500px;
  padding: 40px;
}

@media only screen and (max-width: 991px) {
  .LoginPage {
    display: block;
    width: 500px;
    top: 0vh;
    left: 50%;
    transform: translate(-50%, -0%);
    margin-top: 180px;
  }
  .greetingSection {
    width: 500px;
    border-right: none;
  }
  .LoginForm {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .LoginPage {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .greetingSection{
    width: 100%;
  }

  .welcome {
    font-size: 2em;
  }

  .welcomeText {
    font-size: 1.2em;
  }

  .LoginForm {
    padding-top: 5px;
  }
}

.loginTitle {
  font-size: 2em;
  color: rgb(240, 240, 240);
}

.Login-btn {
  background-color: $theme-blue;
  width: 8em;
  color: $theme-Light;
  border-top: solid rgb(211, 207, 207) 0.5px !important;
  border-bottom: solid rgb(211, 206, 206) 0.5px !important;
}

.LoginHr {
  width: 40%;
  float: left;
  height: 2em;
  border-top: 1px solid rgb(187, 187, 187);
}

.LoginOr {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.1em;
  color: rgb(187, 187, 187);
}

.secBreak {
  display: flex;
  justify-content: center;
}
